* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div {
  color: silver;
  font-size: 60px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.top {
  background-image: url(../res/background.jpg);
  background-repeat: no-repeat;
  background-position: center;Samsing
  background-attachment: fixed;
  background-size: cover;
}
.middle {
  background-image: url(../res/flenclost.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.bottom {
  background-image: url(../res/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
