* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div {
  color: silver;
  font-size: 60px;
  min-height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.top {
  background-image: url(../res/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.middle {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(44, 209, 214, 0.1),
      rgba(9, 9, 9, 0.9)
    ),
    url(../res/flenclost.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.bottom {
  background-image: url(../res/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
