/*Media Queries
Reponsive Designs
Style elements on different screen sizes
min-width: starting from
max-width: up to
Mobile first
*/

body {
  background-color: yellow;
}

.banner {
  background-color: blue;
  border-radius: 20px;
}

h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}

@media screen and (min-width: 576px) {
  body {
    background-color: red;
  }
  .banner {
    background-color: yellow;
  }
  h1 {
    color: black;
    font-size: 60px;
  }
}
