/* ::first-letter & ::first-line */
/* :hover */

.fst::first-letter {
  font-size: 40px;
  font-family: cursive;
}

.fst::first-line {
  font-weight: bold;
  font-family: fantasy;
}

.scd:hover {
  background-color: black;
  color: white;
}
