/*
pseudo elements ::before ::after content not element
content:'' --- required
img --- does not work
*/

p::before {
  content: "hello ";
}

div {
  width: 60px;
  margin: 100px auto;
}

img {
  width: 100%;
  display: block;
}

img::before {
  content: "hello";
}
