/* flex-grow and flex-shrink are done based on the width of the flex container */
/* Shortcuts could be used as follows */
/* flex: 2 1 30em; */
/* flex-flow : row wrap; */
/* place-content : center flex-end; */

.container {
  height: 100vh;
  display: flex;
  gap: 25px;
  flex-flow: row wrap;
  /* flex-direction: row; */
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: wrap; */
}

.box-1 {
  flex-basis: 140px;
  height: 140px;
  background-color: skyblue;
  border: 2px solid black;
  font-size: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-2 {
  flex-basis: 140px;
  height: 140px;
  background-color: skyblue;
  border: 2px solid black;
  font-size: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-3 {
  height: 140px;
  flex-basis: 140px;
  background-color: skyblue;
  border: 2px solid black;
  font-size: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
